.team {
  padding: 3rem 1rem;
}
.team_header {
  background: linear-gradient(281.58deg, #0C3F84 -4.33%, rgba(12, 63, 132, 0.46) 140.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1.5rem;
}
.team_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  position: relative;
}
.team_cards_card {
  border: 1px solid #F0F0F0;
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
  border-radius: 15px;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 100ms ease-in-out;
}
.team_cards_card:hover {
  box-shadow: 0px 6.4px 14.4px rgba(0, 0, 0, 0.132), 0px 1.2px 3.6px rgba(0, 0, 0, 0.108);
  transform: scale(1.02);
}
.team_cards_card_info_header {
  display: flex;
  align-items: center;
}
.team_cards_card_info_header h2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: .125rem;
  margin-right: .5rem;
}
.team_cards_card_info_header_linkedin {
  fill: #0e76a8;
  transition: 100ms ease-in-out;
}
.team_cards_card_info_header_linkedin:hover {
  fill: rgba(14, 118, 168, .8);
}
.team_cards_card_info p {
  font-size: 1.25rem;
  color: #787878;
  margin: 0;
}
.team_cards_card_image_wrapper {
  position: relative;
}
.team_cards_card_image {
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 100%;
  margin-right: 2rem;
  object-fit: cover;
  flex-shrink: 0;
}
@media (max-width: 1023.98px) {
  .team_cards_card {
    width: 100%;
    padding: 1rem
  }
  .team_cards_card_info_header {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .team_cards_card {
    height: 100%;
  }
}
@media (max-width: 639.98px) {
  .team_cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .team_cards_card {
    width: 100%;
    margin: auto;
    height: auto;
    flex-direction: column;
  }
  .team_cards_card_image {
    margin-right: 0;
  }
  .team_cards_card_image_wrapper {
    margin-bottom: 1rem;
  }
}
