.themes {
  padding: 3rem 1rem;
}
.themes_header {
  background: linear-gradient(281.58deg, #0C3F84 -4.33%, rgba(12, 63, 132, 0.46) 140.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}
.themes_tba {
  border: 1px solid #F0F0F0;
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
  border-radius: 15px;
  min-height: 30rem;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transition: 100ms ease-in-out;
  width: 100%;
  align-items: center;
}
.themes_tba p {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
