.footer {
  background: rgb(56, 60, 71);
  padding: 1rem;
  color: #aaa;
}
.footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_content a {
  transition: 200ms ease-in-out;
}
.footer_content a:hover {
  color: #eee;
}
