.footer {
  background: linear-gradient(282deg, rgba(76, 176, 244, .9) 0%, rgba(133, 38, 255, .8) 100%);
  color: #eee;
  padding: 1rem;
}
.footer_logo {
  height: 6rem;
  width: 6rem;
  border-radius: 15px;
  margin-bottom: .5rem;
}
.footer_content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_content a {
  transition: 200ms ease-in-out;
}
.footer_content a:hover {
  color: #fff;
}
.footer_content a svg {
  fill: #eee;
  transition: 200ms ease-in-out;
}
.footer_content a:hover svg {
  fill: #fff;
}
.footer_content_photoCredits {
  font-size: .75rem;
  color: rgba(238, 238, 238, .5);
}
.footer_content_paragraph {
  margin: .7rem 0;
}
.footer_content_links a:not(:last-of-type) {
  margin-right: .5rem;
}

