.footer {
  background: rgb(56, 60, 71);
  padding: 1rem;
  color: #aaa;
}
.footer_content {
  text-align: center;
}
.footer_content a {
  transition: 200ms ease-in-out;
}
.footer_content a:hover {
  color: #eee;
}
.footer_content_photoCredits {
  font-size: .75rem;
}
.footer_content_hackplus {
  margin-top: .7rem;
}
