@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770FF;
  border-radius: 15px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 12px 20px;
  transition: 200ms ease-in-out;
  text-align: center;
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954BF !important;
  transform: scale(1.05);
}

@media (max-width: 499.98px) {
  #devfolio-apply-now {
    font-size: .875rem;
  }
}

