.logo {
  height: 6rem;
  width: 6rem;
  border-radius: 15px;
  cursor: pointer;
  transition: 100ms ease-in-out;
}
.logo:hover {
  box-shadow: 0px 6.4px 14.4px rgba(0, 0, 0, 0.132), 0px 1.2px 3.6px rgba(0, 0, 0, 0.108);
  transform: scale(1.05);
}
.nav_wrapper {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: 100ms ease-in-out;
  padding: 0 1rem;
}
.nav_wrapper.sticky {
  position: fixed;
  top: 0;
}
.nav_wrapper.hasBackground {
  background: rgba(37, 30, 138, 0.479);
  backdrop-filter: blur(20px);
}
.nav {
  padding: 1.5625rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_wrapper.sticky .nav {
  padding: .75rem 0;
}
.nav_right {
  display: flex;
  align-items: center;
}
.nav_link {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 2.4375rem;
  position: relative;
}
.nav_link::after {
  content: "";
  position: absolute;
  bottom: -.25rem;
  left: 0;
  display: block;
  height: 3px;
  width: 0%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: .25rem;
  transition: 300ms ease-in-out;
}
.nav_link:hover::after, .nav_link.active::after {
  width: 100%;
}
.nav_link_cta {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.19);
  padding: 1rem 1.5rem;
  border-radius: 50px;
  transition: 200ms ease-in-out;
}
.nav_link_cta:hover, .nav_link_cta.active {
  background: rgba(255, 255, 255, 0.4);
}
.nav_mobile_menu_button {
  background: none;
  border: none;
}
.nav_mobile_menu_button_icon {
  position: relative;
  top: .2rem;
}
.nav_mobile_links_wrapper {
  height: 0;
  display: flex;
  overflow-x: auto;
  transition: 100ms ease-in-out;
}
.nav_mobile_links_wrapper.open {
  padding-bottom: 1rem;
  height: auto;
}
.nav_mobile_links {
  display: flex;
  margin-left: auto;
}

@media (max-width: 1199.98px) {
  .nav_link, .nav_link_cta {
    font-size: 1.125rem;
  }
  .nav_link {
    margin-right: 1.5rem;
  }
  .logo {
    height: 5rem;
    width: 5rem;
  }
}
@media (min-width: 768px) {
  .nav_mobile_menu_button {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .desktop_only {
    display: none;
  }
}

