.speaker_card_wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.speaker_card {
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
  width: 100%;
  max-width: 18rem;
  border-radius: 1rem;
  margin: 0 1rem;
  height: 100%;
  transition: 100ms ease-in-out;
}
.speaker_card:hover {
  box-shadow: 0px 6.4px 14.4px rgba(0, 0, 0, 0.132), 0px 1.2px 3.6px rgba(0, 0, 0, 0.108);
  transform: scale(1.02);
}
.speaker_card_image {
  display: block;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 11.070625rem;
  position: relative;
}
.speaker_card_image img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.speaker_card_description {
  padding: 1.5rem;
  position: relative;
}
.speaker_card_description h1 {
  margin-top: 0;
  font-weight: 900;
  font-size: 1.5rem;
}
.speaker_card_description p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 153.52%;
  font-size: .8rem;
}
.speaker_card_logo {
  position: absolute;
  height: 4rem;
  width: 4rem;
  top: -2.5rem;
  right: 1.5rem;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #333;
}
.speaker_card_logo img {
  padding: .25rem !important;
  border-radius: 100%;
}
