.speakers_judges {
  padding: 3rem 1rem;
}
.speakers_judges_header {
  background: linear-gradient(90deg, #4CB0F4 0%, #8526FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 2rem;
}
.speakers_judges_cards {
  display: flex;
  overflow: auto;
  padding: 1rem 0 2rem 0;
  margin: -1rem;
}
@media (max-width: 767.98px) {
  .speakers_judges_header {
    font-size: 2.5rem;
  }
}