.sponsor_list_tier {
  display: flex;
  flex-wrap: wrap;
  margin: .25rem -1rem;
}

.sponsor_list_tier_item {
  margin: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
}
.sponsor_list_tier_item div, .sponsor_list_tier_item img {
  position: relative !important;
}
.sponsor_list_tier_item_logo {
  display: block;
  width: auto !important;
  height: 100% !important;
  object-fit: contain;
}
.sponsor_list_tier_item.l div {
  height: 5rem !important;
}
.sponsor_list_tier_item.m div {
  height: 4rem !important;
}
.sponsor_list_tier_item.s div {
  height: 3rem !important;
}
.sponsor_list_tier_item.xs div, .sponsor_list_tier_item.additionalSupport div {
  height: 2rem !important;
}
