.sponsors {
  padding: 3rem 1rem;
  background: rgba(196, 196, 196, 0.51);
}
.sponsors_header {
  color: #333;
  font-weight: 900;
  font-size: 1.5625rem;
  margin: 0;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
.sponsors_list {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -.625rem;
  justify-content: center;
}
.sponsors_list_item {
  margin: 1rem 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;
  filter: grayscale(1);
  transition: 200ms ease-in-out;
}
.sponsors_list_item:hover {
  filter: grayscale(0);
}
.sponsors_list_item div, .sponsors_list_item img {
  position: relative !important;
  height: 4rem !important;
}
.sponsors_list_item_logo {
  display: block;
  width: auto !important;
  height: 100% !important;
  object-fit: contain;
}
@media (max-width: 991.98px) {
  .sponsors_header {
    margin-bottom: 2rem;
  }
  .sponsors_list_item div, .sponsors_list_item img {
    height: 3rem !important;
  }
}
@media (max-width: 767.98px) {
  .sponsors_list_item div, .sponsors_list_item img {
    height: 2rem !important;
  }
}
.sponsors_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  position: relative;
  margin-top: 3rem;
}
.sponsors_cards_card {
  border: 1px solid #F0F0F0;
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
  background: #fff;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transition: 100ms ease-in-out;
}
.sponsors_cards_card:hover {
  box-shadow: 0px 6.4px 14.4px rgba(0, 0, 0, 0.132), 0px 1.2px 3.6px rgba(0, 0, 0, 0.108);
  transform: scale(1.02);
}

@media (max-width: 639.98px) {
  .sponsors_cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .sponsors_cards_card {
    align-self: center;
    max-width: 40%;
  }
  /* Safari gap hack until it gets support for flex gap */
  @media not all and (min-resolution:.001dpcm) {
    .sponsors_cards_card {
      margin-bottom: 2rem;
    }
  }
}


@media (max-width: 531.98px) {
  .sponsors_cards {
    display: flex;
    flex-wrap: wrap;
  }
  .sponsors_cards_card {
    align-self: center;
    max-width: 100%;
  }
}

.sponsors_cards_card h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .75rem;
}
.sponsors_cards_card p {
  text-align: center;
  font-size: 1rem;
  line-height: 153.52%;
  margin: 0;
}
