.welcome {
  margin: 3rem 0;
  padding: 0 1rem;
}
.welcome_header h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  background: linear-gradient(281.58deg, #0C3F84 -4.33%, rgba(12, 63, 132, 0.46) 140.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
.welcome_header p {
  text-align: center;
  max-width: 53rem;
  margin: auto;
  font-size: 1.25rem;
  line-height: 153.52%;
  margin-bottom: 3.75rem;
}
.welcome_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  position: relative;
}
.welcome_cards_card {
  border: 1px solid #F0F0F0;
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.132), 0px 0.6px 1.8px rgba(0, 0, 0, 0.108);
  border-radius: 15px;
  height: 15rem;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  transition: 100ms ease-in-out;
}
.welcome_cards_card:hover {
  box-shadow: 0px 6.4px 14.4px rgba(0, 0, 0, 0.132), 0px 1.2px 3.6px rgba(0, 0, 0, 0.108);
  transform: scale(1.02);
}
@media (max-width: 1023.98px) {
  .welcome_cards_card {
    width: 100%;
    padding: 1rem
  }
}
@media (max-width: 767.98px) {
  .welcome_cards_card {
    height: 100%;
  }
}
@media (max-width: 639.98px) {
  .welcome_cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .welcome_cards_card {
    width: 100%;
    max-width: 34rem;
    margin: auto;
    padding: .5rem;
    height: auto;
    min-height: 15rem;
  }
}
.welcome_cards_card h2 {
  text-align: center;
  font-weight: 900;
  background: linear-gradient(281.58deg, #0C3F84 -4.33%, rgba(12, 63, 132, 0.46) 140.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.welcome_cards_card p {
  text-align: center;
  font-size: 1rem;
  line-height: 153.52%;
  margin: 0;
}
